@font-face {
    font-family:    'Architects Daughter';
    font-style:     normal;
    font-weight:    400;
    src:            local('Architects Daughter'), 
                    local('ArchitectsDaughter'), 
                    url('../fonts/architectsdaughter/architectsdaughter.woff2') format('woff2'), 
                    url('../fonts/architectsdaughter/architectsdaughter.woff') format('woff' );
}
